<a href="https://colab.research.google.com/github/Heisnamba/Potfolio/blob/main/FIFA_WC_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**EDA FOR THE DATA**

1. Data Profiling: 

---


Here I examine the content, structure, and quality of data in order to gain an understanding of the data order to identify data anomalies, trends, patterns, and inconsistencies. Data profiling can also be used to check for the completeness and accuracy of data.

In [121]:
import pandas as pd
import numpy as np
import seaborn as sns #visualisation
import matplotlib.pyplot as plt #visualisation

In [122]:
# Reading of Raw dataset uploaded in GitHub
df1 = pd.read_csv('https://raw.githubusercontent.com/Heisnamba/Potfolio/main/FIFA%20WC/WorldCupMatches.csv')
df2 = pd.read_csv('https://raw.githubusercontent.com/Heisnamba/Potfolio/main/FIFA%20WC/WorldCupPlayers.csv')
df3 = pd.read_csv('https://raw.githubusercontent.com/Heisnamba/Potfolio/main/FIFA%20WC/WorldCups.csv')

In [123]:
df1.head()

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930.0,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4.0,1.0,Mexico,,4444.0,3.0,0.0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201.0,1096.0,FRA,MEX
1,1930.0,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3.0,0.0,Belgium,,18346.0,2.0,0.0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201.0,1090.0,USA,BEL
2,1930.0,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2.0,1.0,Brazil,,24059.0,2.0,0.0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201.0,1093.0,YUG,BRA
3,1930.0,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3.0,1.0,Peru,,2549.0,1.0,0.0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201.0,1098.0,ROU,PER
4,1930.0,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1.0,0.0,France,,23409.0,0.0,0.0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201.0,1085.0,ARG,FRA

In [124]:
#There might be some error in the dataset that it has lots of NULL values. We need to remove it
df1.isnull().sum()

Year                    3720
Datetime                3720
Stage                   3720
Stadium                 3720
City                    3720
Home Team Name          3720
Home Team Goals         3720
Away Team Goals         3720
Away Team Name          3720
Win conditions          3720
Attendance              3722
Half-time Home Goals    3720
Half-time Away Goals    3720
Referee                 3720
Assistant 1             3720
Assistant 2             3720
RoundID                 3720
MatchID                 3720
Home Team Initials      3720
Away Team Initials      3720
dtype: int64

In [125]:
df1.shape

(4572, 20)

In [126]:
# Removing the empty rows 
WC_details = df1.dropna()

In [127]:
WC_details = WC_details.drop('Win conditions', axis =1)

In [128]:
WC_details.isnull().sum()

Year                    0
Datetime                0
Stage                   0
Stadium                 0
City                    0
Home Team Name          0
Home Team Goals         0
Away Team Goals         0
Away Team Name          0
Attendance              0
Half-time Home Goals    0
Half-time Away Goals    0
Referee                 0
Assistant 1             0
Assistant 2             0
RoundID                 0
MatchID                 0
Home Team Initials      0
Away Team Initials      0
dtype: int64

In [129]:
WC_details.shape

(850, 19)

In [130]:
df2.isnull().sum()

RoundID              0
MatchID              0
Team Initials        0
Coach Name           0
Line-up              0
Shirt Number         0
Player Name          0
Position         33641
Event            28715
dtype: int64

In [156]:
#Droping the Position and Event columns since it has lots of NULL values
WC_player = df2.drop(columns = ['Position','Event'])
WC_player.isnull().sum()

RoundID          0
MatchID          0
Team Initials    0
Coach Name       0
Line-up          0
Shirt Number     0
Player Name      0
dtype: int64

In [132]:
df3.isnull().sum()

Year              0
Country           0
Winner            0
Runners-Up        0
Third             0
Fourth            0
GoalsScored       0
QualifiedTeams    0
MatchesPlayed     0
Attendance        0
dtype: int64

In [157]:
WC_cup = df3
WC_cup.head()

,Year,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590.549
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363.000
2,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375.700
3,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1.045.246
4,1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768.607

In [134]:
#Checking the details of Final Stage for WC_details
WC_details[WC_details['Stage'] =='Final']

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
17,1930.0,30 Jul 1930 - 14:15,Final,Estadio Centenario,Montevideo,Uruguay,4.0,2.0,Argentina,68346.0,1.0,2.0,LANGENUS Jean (BEL),SAUCEDO Ulises (BOL),CRISTOPHE Henry (BEL),405.0,1087.0,URU,ARG
34,1934.0,10 Jun 1934 - 17:30,Final,Nazionale PNF,Rome,Italy,2.0,1.0,Czechoslovakia,55000.0,0.0,0.0,EKLIND Ivan (SWE),BAERT Louis (BEL),IVANCSICS Mihaly (HUN),3490.0,1134.0,ITA,TCH
52,1938.0,19 Jun 1938 - 17:00,Final,Stade Olympique,Colombes,Italy,4.0,2.0,Hungary,45000.0,3.0,1.0,CAPDEVILLE Georges (FRA),WUETHRICH Hans (SUI),KRIST Gustav (TCH),3487.0,1174.0,ITA,HUN
100,1954.0,04 Jul 1954 - 17:00,Final,Wankdorf Stadium,Berne,Germany FR,3.0,2.0,Hungary,62500.0,2.0,2.0,LING William (ENG),ORLANDINI Vincenzo (ITA),GRIFFITHS Benjamin (WAL),3484.0,1278.0,FRG,HUN
135,1958.0,29 Jun 1958 - 15:00,Final,Rasunda Stadium,Solna,Brazil,5.0,2.0,Sweden,49737.0,2.0,1.0,GUIGUE Maurice (FRA),DUSCH Albert (GER),GARDEAZABAL Juan (ESP),3482.0,1343.0,BRA,SWE
167,1962.0,17 Jun 1962 - 14:30,Final,Nacional,Santiago De Chile,Brazil,3.0,1.0,Czechoslovakia,68679.0,1.0,1.0,LATYCHEV Nikolaj (URS),HORN Leo (NED),DAVIDSON Bob (SCO),3480.0,1463.0,BRA,TCH
199,1966.0,30 Jul 1966 - 15:00,Final,Wembley Stadium,London,England,4.0,2.0,Germany FR,96924.0,0.0,0.0,DIENST Gottfried (SUI),BAKHRAMOV Tofik (URS),GALBA Karol (TCH),3478.0,1633.0,ENG,FRG
231,1970.0,21 Jun 1970 - 12:00,Final,Estadio Azteca,Mexico City,Brazil,4.0,1.0,Italy,107412.0,1.0,1.0,GLOECKNER Rudolf (GDR),SCHEURER Ruedi (SUI),COEREZZA Norberto Angel (ARG),3476.0,1765.0,BRA,ITA
269,1974.0,07 July 1974 - 16:00,Final,Olympiastadion,Munich,Netherlands,1.0,2.0,Germany FR,78200.0,1.0,2.0,TAYLOR John (ENG),GONZALEZ ARCHUNDIA Alfonso (MEX),BARRETO RUIZ Ramon (URU),605.0,2063.0,NED,FRG
307,1978.0,25 Jun 1978 - 15:00,Final,El Monumental - Estadio Monumental Antonio Ves...,Buenos Aires,Argentina,3.0,1.0,Netherlands,71483.0,0.0,0.0,GONELLA Sergio (ITA),BARRETO RUIZ Ramon (URU),LINEMAYR Erich (AUT),639.0,2198.0,ARG,NED
359,1982.0,11 Jul 1982 - 20:00,Final,Santiago Bernabeu,Madrid,Italy,3.0,1.0,Germany FR,90000.0,0.0,0.0,COELHO Arnaldo (BRA),KLEIN Abraham (ISR),CHRISTOV Vojtech (TCH),3475.0,923.0,ITA,FRG
411,1986.0,29 Jun 1986 - 12:00,Final,Estadio Azteca,Mexico City,Argentina,3.0,2.0,Germany FR,114600.0,1.0,0.0,ARPPI FILHO Romualdo (BRA),FREDRIKSSON Erik (SWE),ULLOA MORERA Berny (CRC),3467.0,393.0,ARG,FRG
463,1990.0,08 Jul 1990 - 20:00,Final,Stadio Olimpico,Rome,Germany FR,1.0,0.0,Argentina,73603.0,0.0,0.0,CODESAL MENDEZ Edgardo (MEX),PEREZ HOYOS Armando (COL),LISTKIEWICZ Michal (POL),3462.0,27.0,FRG,ARG
515,1994.0,17 Jul 1994 - 12:30,Final,Rose Bowl,Los Angeles,Brazil,0.0,0.0,Italy,94194.0,0.0,0.0,PUHL Sandor (HUN),ZARATE Venancio (PAR),FANAEI Mohammad (IRN),3459.0,3104.0,BRA,ITA
579,1998.0,12 Jul 1998 - 21:00,Final,Stade de France,Saint-Denis,Brazil,0.0,3.0,France,80000.0,0.0,2.0,BELQOLA Said (MAR),WARREN Mark (ENG),SALIE Achmat (RSA),1027.0,8788.0,BRA,FRA
643,2002.0,30 Jun 2002 - 20:00,Final,International Stadium Yokohama,Yokohama,Germany,0.0,2.0,Brazil,69029.0,0.0,0.0,COLLINA Pierluigi (ITA),LINDBERG Leif (SWE),SHARP Philip (ENG),43950600.0,43950064.0,GER,BRA
707,2006.0,09 Jul 2006 - 20:00,Final,Olympiastadion,Berlin,Italy,1.0,1.0,France,69000.0,0.0,0.0,ELIZONDO Horacio (ARG),GARCIA Dario (ARG),OTERO Rodolfo (ARG),97410600.0,97410064.0,ITA,FRA
771,2010.0,11 Jul 2010 - 20:30,Final,Soccer City Stadium,Johannesburg,Netherlands,0.0,1.0,Spain,84490.0,0.0,0.0,WEBB Howard (ENG),Darren CANN (ENG),MULLARKEY Michael (ENG),249721.0,300061509.0,NED,ESP
828,2014.0,13 Jul 2014 - 16:00,Final,Estadio do Maracana,Rio De Janeiro,Germany,1.0,0.0,Argentina,74738.0,0.0,0.0,Nicola RIZZOLI (ITA),Renato FAVERANI (ITA),Andrea STEFANI (ITA),255959.0,300186501.0,GER,ARG
851,2014.0,13 Jul 2014 - 16:00,Final,Estadio do Maracana,Rio De Janeiro,Germany,1.0,0.0,Argentina,74738.0,0.0,0.0,Nicola RIZZOLI (ITA),Renato FAVERANI (ITA),Andrea STEFANI (ITA),255959.0,300186501.0,GER,ARG

In [158]:
#Droping Attendance from WC_cup since it is irrelevant
WC_cup = WC_cup.drop('Attendance', axis = 1)

In [145]:
WC_details.columns

Index(['Year', 'Datetime', 'Stage', 'Stadium', 'City', 'Home Team Name',
       'Home Team Goals', 'Away Team Goals', 'Away Team Name', 'Attendance',
       'Half-time Home Goals', 'Half-time Away Goals', 'Referee',
       'Assistant 1', 'Assistant 2', 'RoundID', 'MatchID',
       'Home Team Initials', 'Away Team Initials'],
      dtype='object')

In [153]:
Attendance = list(WC_details[WC_details['Stage'] == 'Final']['Attendance'])
Attendance

[68346.0,
 55000.0,
 45000.0,
 62500.0,
 49737.0,
 68679.0,
 96924.0,
 107412.0,
 78200.0,
 71483.0,
 90000.0,
 114600.0,
 73603.0,
 94194.0,
 80000.0,
 69029.0,
 69000.0,
 84490.0,
 74738.0,
 74738.0]

In [160]:
Attendance = pd.DataFrame(Attendance)

In [161]:
Attendance

           0
0    68346.0
1    55000.0
2    45000.0
3    62500.0
4    49737.0
5    68679.0
6    96924.0
7   107412.0
8    78200.0
9    71483.0
10   90000.0
11  114600.0
12   73603.0
13   94194.0
14   80000.0
15   69029.0
16   69000.0
17   84490.0
18   74738.0
19   74738.0

2. Analysing of data to gain insights

In [163]:
WC_cup.head()

,Year,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17
2,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18
3,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22
4,1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26

In [79]:
#Which country took the World Cup most?
total_win = WC_cup.Winner.value_counts()
total_win

Brazil        5
Italy         4
Germany FR    3
Uruguay       2
Argentina     2
England       1
France        1
Spain         1
Germany       1
Name: Winner, dtype: int64

In [80]:
# Number of goals by each country
Each_country_goal = WC_cup.groupby('Country')['GoalsScored'].sum()
Each_country_goal

Country
Argentina       102
Brazil          259
Chile            89
England          89
France          255
Germany         244
Italy           185
Korea/Japan     161
Mexico          227
South Africa    145
Spain           146
Sweden          126
Switzerland     140
USA             141
Uruguay          70
Name: GoalsScored, dtype: int64

In [85]:
#Maximum goal score
Each_country_goal.max()

259

In [95]:
#Maximun goal scored country
Each_country_goal.idxmax()

'Brazil'

In [101]:
# Total number of Matches played 
Country_matches = WC_cup.groupby('Country')['MatchesPlayed'].sum()
Country_matches

Country
Argentina        38
Brazil           86
Chile            32
England          32
France           82
Germany         102
Italy            69
Korea/Japan      64
Mexico           84
South Africa     64
Spain            52
Sweden           35
Switzerland      26
USA              52
Uruguay          18
Name: MatchesPlayed, dtype: int64

In [120]:
#Average goals scored by each country
Avg_country_goal = Each_country_goal/Country_matches
Avg_country_goal

Country
Argentina       2.684211
Brazil          3.011628
Chile           2.781250
England         2.781250
France          3.109756
Germany         2.392157
Italy           2.681159
Korea/Japan     2.515625
Mexico          2.702381
South Africa    2.265625
Spain           2.807692
Sweden          3.600000
Switzerland     5.384615
USA             2.711538
Uruguay         3.888889
dtype: float64

In [114]:
# Which country played the most final
country_final= WC_cup['Winner'].append(WC_cup['Runners-Up']).value_counts()
print(country_final)

Brazil            7
Italy             6
Germany FR        6
Argentina         5
Netherlands       3
Uruguay           2
France            2
Germany           2
Czechoslovakia    2
Hungary           2
England           1
Spain             1
Sweden            1
dtype: int64

<ipython-input-114-728c3b106f93>:2: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_final= WC_cup['Winner'].append(WC_cup['Runners-Up']).value_counts()

"Germany FR" refers to the unified German team that competed in the 1990 and 1994 World Cups, while "Germany" refers to the separate teams of East Germany and West Germany that competed in the World Cup from 1954 to 1990.

In [ ]:
country_final['Germany'] = country_final['Germany'] + country_final['Germany FR'] 
country_final = country_final.drop('Germany FR')

In [117]:
country_final.sort_values(ascending=False)

Germany           8
Brazil            7
Italy             6
Argentina         5
Netherlands       3
Uruguay           2
France            2
Czechoslovakia    2
Hungary           2
England           1
Spain             1
Sweden            1
dtype: int64